src/.DS_Store
src/level.txt
src/newLevel.txt
src/__pycache__/metrics.cpython-37.pyc
src/__pycache__/metrics.cpython-311.pyc
src/__pycache__/pathfinding.cpython-37.pyc
src/__pycache__/pathfinding.cpython-311.pyc
src/Player/.vsconfig
src/Player/.vs/Player/v17/.suo
src/Player/Assets/Resources/BillingMode.json
src/Player/Assets/Resources/BillingMode.json.meta
src/Player/Assets/Resources/Levels/Level1.txt
src/Player/Assets/Scripts/GameWorld/SMBGameWorld.cs
src/Player/Logs/Packages-Update.log
src/Player/Logs/shadercompiler-UnityShaderCompiler.exe0.log
src/Player/Packages/manifest.json
src/Player/Packages/packages-lock.json
src/Player/ProjectSettings/MemorySettings.asset
src/Player/ProjectSettings/PackageManagerSettings.asset
src/Player/ProjectSettings/PresetManager.asset
src/Player/ProjectSettings/VersionControlSettings.asset
src/Player/ProjectSettings/VFXManager.asset
src/Player/ProjectSettings/Packages/com.unity.services.core/Settings.json
src/Player/UserSettings/EditorUserSettings.asset
src/Player/UserSettings/Search.settings
src/Player/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
src/Player/UserSettings/Layouts/default-2022.dwlt
src/level.txt
src/Player/Assets/Resources/Levels/Level1.txt
src/level.txt
